<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Form</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" media="screen" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" />
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.bundle.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script type="text/javascript" src="/socket.io/socket.io.js"></script>
    <link rel="stylesheet" type="text/css" media="screen" href="style.css" />
    <script type="text/javascript">
        $(document).ready(function () {
            var socket = io();
            $(".epic").click(function () {
                socket.emit('button')
            });
            
            $(".reset").click(function(){
                socket.emit('reset')
            });

            socket.on('count', function (data) {
                $('.count').replaceWith("<span class='count'>" + data + "<span>");
            })
        })
    </script>
    <style>
        .epic{
            color: white;
            background-color: darkblue;
        }
        .reset{
            color: white;
            background-color: red;
        }
    </style>
</head>

<body>
    <h2>The button has been pushed <span class='count'>0</span> time(s)</h2>
    <div>
        <h5>Push the button! (You know you want to)</h5>
        <button class="epic">Epic Button</button>
    </div>
    <button class = "reset">Reset</button>
</body>

</html>