<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Form</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" media="screen" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" />
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.bundle.min.js"></script>
    <link rel="stylesheet" type="text/css" media="screen" href="style.css" />
</head>
<body>
    <form action="/result" method="post">
        Your Name: <input type="text" name="name">
        Dojo Location: <select name="location">
                <option value="Seattle">Seattle</option>
                <option value="Chicago">Chicago</option>
                <option value="San Jose">San Jose</option>
        </select>
        Favorite Language: <select name="language">
                <option value="JavaScript">JavaScript</option>
                <option value="Python">Python</option>
                <option value="Java">Java</option>
                <option value="C#">C#</option>
                <option value="ShakeSpeare">The ShakeSpeare Programming Language</option>
        </select>
        Comment (optional): <textarea name="comment"></textarea>
        <button type="submit">Submit</button>
    </form>
</body>
</html>