<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Info</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" media="screen" href="style.css" />
</head>
<body>
    <h3>Submitted Info:</h3>
    <p>Name: <%= info.name %></p>
    <p>Location: <%= info.location %></p>
    <p>Language: <%= info.language %></p>
    <p>Comment: <%= info.comment %></p>
    <a href="/">Go Back</a>
</body>
</html>